* {
    box-sizing: border-box;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.btn {
    display: block;
    color: whitesmoke;
    background-color: #84a5bb;
    width: 50%;
    margin-top: .5rem;
}

.footerForm input, textarea {
    color: whitesmoke;
    background-color: #34373A;
    border: none;
    padding: .5rem;
    width: 75%;
}

span {
    color: #84a5bb;
}

.topFooter {
    padding: 1.5rem;
    margin: .5rem;
}

.topFooter p {
    font-size: .9rem;
    margin-top: 1.5rem;
    padding-bottom: .75rem;
}
.twitter p{
    border-bottom: dotted  #34373A;
}
.fa-twitter {
    color: whitesmoke;
    padding-right: .5rem ;
}