* {
    box-sizing: border-box;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.btn {
    display: block;
    color: whitesmoke;
    background-color: #84a5bb;
    width: 50%;
    margin-top: .5rem;
}

.footerForm input, textarea {
    color: whitesmoke;
    background-color: #34373A;
    border: none;
    padding: .5rem;
    width: 75%;
}

span {
    color: #84a5bb;
}

.topFooter {
    padding: 1.5rem;
    margin: .5rem;
}

.topFooter p {
    font-size: .9rem;
    margin-top: 1.5rem;
    padding-bottom: .75rem;
}
.twitter p{
    border-bottom: dotted  #34373A;
}


/* Social Media Icons */
 .fa {  
  padding: 20px;  
  text-align: center;  
  margin: 5px 2px;  
  font-size: 30px;  
  width: 50px; 
  border-radius: 50%; 
}  
.fa-facebook {  
  background: #3B5998;  
  color: white;  
}  
.fa-twitter {  
  background: #55ACEE;  
  color: white;  
}  

.fa-linkedin {  
  background: #007bb5;  
  color: white;  
}  

.fa-youtube {  
  background: #bb0000;  
  color: white;  
}  
.fa-google {  
  background: #dd4b39;  
  color: white;  
}  

.fa:hover {  
    opacity: 0.9;  
}  

.tweety {
    color: whitesmoke;
    padding: .5rem ;
    width: 25px;
    margin: 0;
    background: none;
}